<footer class="footer">
  <div class="footer-inner">
    <div>
      <h4>Yeşil Market</h4>
      <p>Doğadan sofranıza taze ürünler.</p>
    </div>
    <div>
      <h4>İletişim</h4>
      <ul>
        <li>Telefon: 0 (212) 000 00 00</li>
        <li>E-posta: destek@yesilmarket.com</li>
      </ul>
    </div>
    <div>
      <h4>Bilgilendirme</h4>
      <ul>
        <li><a href="#">KVKK Aydınlatma</a></li>
        <li><a href="#">Kullanım Şartları</a></li>
      </ul>
    </div>
  </div>
  <p class="copyright">© <%= new Date().getFullYear() %> Yeşil Market</p>
</footer>
